.balloon
    .balloon__header
        .balloon__title= `${address}`
        button.balloon__close
    .balloon__content
        .balloon__reviews.reviews
            ul.reviews__list
                if reviews
                    each review in reviews
                        li.reviews__item
                            .reviews__author= `${review.name}`
                            .reviews__place= `${review.place}`
                            .reviews__date= `${review.date}`
                            .reviews__text= `${review.comment}`
                else
                    li.reviews__item
                        .reviews__text Отзывов пока нет...
        .balloon__form.review-form
            form.review-form__area#new-review
                .review-form__title Ваш отзыв
                .review-form__fields
                    .review-form__field
                        label.review-form__field-label Ваше имя
                        input.review-form__field-input(placeholder='Ваше имя' name='name')
                    .review-form__field
                        label.review-form__field-label Укажите место
                        input.review-form__field-input(placeholder='Укажите место' name='place')
                    .review-form__field
                        label.review-form__field-label Поделитесь впечатлениями
                        textarea.review-form__field-textarea(placeholder='Поделитесь впечатлениями' rows='5' name='comment')
                button.review-form__button Добавить